@use '../../styles/abstracts/' as *;

.fullname {
  color: $primary-color;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
}

.role {
  text-transform: capitalize;
  color: gray;
  font-size: 1.2rem;
}
