@use '../../styles/abstracts/' as *;

.basic_data {
  border-bottom: 1px solid lightgray;
  width: 100%;
}

.fullname {
  color: $primary-color;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
}

.role {
  text-transform: capitalize;
  color: gray;
  font-size: 1.2rem;
}
