@use './abstracts' as *;
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600&family=Lato:wght@300;400;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $primary-font;
}

* {
  box-sizing: border-box;
}

.section_title-alt {
  font-family: $secondary-font;
  color: white;
  font-size: 1rem;
}

.detail_section,
.side_section {
  width: 100%;
  border-bottom: 1px solid lightgray;
  .section_title {
    font-family: $secondary-font;
    color: white;
    font-size: 1rem;
  }
  .content {
    padding-left: 1rem;
  }
}

.detail_section {
  .section_title {
    color: $primary-color;
    font-size: 1.2rem;
  }
}
